<!DOCTYPE html>
<html>
<head>
<title>Developing Justice</title>
<meta name="description" content="TBD" />
<!-- Copyright 1998-2017 by Northwoods Software Corporation. -->
<meta charset="UTF-8">
      <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="../static/css/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="../static/css/index.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <script src="../static/javascript/go.js"></script>
      <script src="../static/javascript/postback.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
      <script src="../static/javascript/indexJs.js"></script>

</head>

<body>
<div class="zoom">
  <button class="diagramEditButton" onclick="myDiagram.commandHandler.increaseZoom(1.5)">+</button>
  <button class="diagramEditButton" onclick="myDiagram.commandHandler.decreaseZoom(0.7)">-</button>
</div>
<div id="topHalfWrapper">
  <div id="myDiagramDiv"></div>
  <div id="myDiagramDivButtons">
    <button class="diagramEditButton js-addQuestionButton">+ Question</button>
    <button class="diagramEditButton js-removeQuestionButton">- Question</button>
    <button class="diagramEditButton js-addAnswerButton">+ Answer</button>
    <button class="diagramEditButton js-removeAnswerButton">- Answer</button>
    <div class="ddButtonWrapper">
      <button class="diagramEditButton js-saveButton">Save &#x25BE;</button>
      <div class="ddButtonOptionsWrapper">
        <ul class="ddButton">
          <li class="diagramEditButton js-saveLocalButton">Download</li>
          <li class="diagramEditButton js-saveRemoteButton">Save to Server</li>
        </ul>
      </div>
    </div>
    <div class="ddButtonWrapper">
      <button class="diagramEditButton js-loadButton">Load &#x25BE;</button>
      <div class="ddButtonOptionsWrapper">
        <ul class="ddButton">
          <li class="diagramEditButton js-loadContactInfo">Contact Info Template</li>
          <li class="diagramEditButton js-loadDemographics">Demographics Template</li>
          <li class="diagramEditButton js-loadEnd">End of Intake Template</li>
        </ul>
      </div>
    </div>
    <button class="diagramEditButton js-layoutButton">Fix Layout</button>
  </div>
</div>
<div id="preview">
  <div class="js-previewNoCard"> Click on a card above to edit it here.</div>
  <div class="container js-previewContainer">
    {% include 'site/card.html' %}
  </div>
</div>
<div id="previewVariables">
  Variables listed here.
</div>
<br>

<textarea id="mySavedModel">
  {{currModel}}
</textarea>

</div>
</body>
</html>
