{# SUBMITTED CARD #}
<div class="col s12" id="SUBMITTED_CARD" style="display: None; margin-top: 10%">
    <div class="card">
        <div class="card-content">
            <h4 class="card-title center-align">Congratulations!</h4>
            <h4 class="card-title center-align">Your information has been submitted successfully&mdash;check your email!</h4><br>
            <p class="center-align"><a class="waves-effect waves-light btn-large" id="start_button" href=".">Click Here To Conduct An Intake For Another Client</a></p>
        </div>
    </div>
</div>