<!-- app/templates/admin/sites/sites.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}{{ current_user.name }}'s Sites{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Sites</h1>
        {% if sites %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="33%"> Name </th>
                  <th width="33%"> Description </th>
                  <th width="33%"> URL </th>
                </tr>
              </thead>
              <tbody>
              {% for site in sites %}
                <tr>
                  <td> {{ site.name }} </td>
                  <td> {{ site.description }} </td>
                  <td>
                      <a href={{ url_for('site.site_home', site_url_slug=site.site_url_slug) }}>{{ site.site_url_slug }}</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No sites have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}