/* Harvard Law School Color Palette */
/* https://hls.harvard.edu/content/uploads/2016/01/HLS_Graphic_Identity_2016.pdf */

/* Primary */
$ink: rgba(30, 30, 30, 1);
$slate: rgba(137, 150, 160, 1);
$mortar: rgba(140, 129, 121, 1);
$shade: rgba(186, 197, 198, 1);
$parchment: rgba(243, 243, 241, 1);
$crimson: rgba(165, 28, 48, 1);

/* Accent */
$indigo: rgba(41, 51, 82, 1);
$ivy: rgba(82, 133, 76, 1);
$saffron: rgba(232, 125, 30, 1);
$bluebonnet: rgba(78, 132, 196, 1);
$pear: rgba(195, 215, 164, 1);
$gold: rgba(196, 150, 26, 1);
$lemon: rgba(255, 219, 109, 1);
$creme: rgba(244, 237, 202, 1);



